* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
.header {
    width: 100%;
    position: relative;
    transition: all 0.25s ease;
    background-color:#1800ad;
}

.logo img {
    margin-left: 10px;
}

/* Header quando fixo */
.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 6px 18px rgba(4, 12, 25, 0.25);
}

.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    gap: 12px;
    background: rgb(0, 0, 0);
    border-bottom: 2px solid rgba(124, 255, 0, 0.08);
    color: #FAFAFA;
}

.top-bar div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 8px;
    transition: all 0.18s ease;
    justify-content: center;
    color: #d0d0d0;
}

.top-bar a {
    display: flex;
    flex-direction:row ;
    
    color: inherit;
    text-decoration: none;
    transition: color 0.18s ease;
}

.top-bar a:hover {
    color: #7CFF00;
}

.top-bar .action-contato p {
    margin-top: 8px;
}

.top-bar .action-contato-loc p {
    margin-top: 3px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
}

ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.items-header {
    list-style: none;
    padding: 10px 15px;
}

.items-header a {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 20px;
    transition: color 0.3s ease;
}

.items-header a:hover {
    color: #7CFF00;
}



.actions {
    display: flex;

    margin-right: 20px;
}

.actions button {
    padding: 10px 20px;
    background: linear-gradient(135deg, #7CFF00 0%, #5ACD00 100%);
    color: #050f28;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    display: flex;
    align-items: center;
    gap: 8px;
}


/*MENU HAMBURGUER*/
.actions .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    border: none;
    cursor: pointer;
    
}   

.actions .hamburger span{
    width: 25px;
    border-top: 3px solid rgb(0, 255, 13);
    border-bottom: 2px solid rgb(0, 255, 4);
    transition: transform .25s ease, opacity .25s ease;
}

.hamburger:not(.active) span {
  transform: none;
}