/* PLANOS COM ASSINATURAS */



.conteudo-planos {
    padding: 20px;
    margin-top: 10px;

    text-align: center;
    width: 98%;

    margin-right: auto;
    margin-left: auto;

}


.title-planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 60px;
    color: #0004ff;
}

.title-planos h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.title-planos h1.fibra {
    font-size: 1.8rem;
    font-weight: 500;
    color: #050F28;
    letter-spacing: 0.5px;
}

.planos-premium {

    display: flex;
    justify-content: center;
    gap: 42px;
    flex-wrap: wrap;
}

.planos-premium.inativo {
    display: none;
}

/* Wi-fi animation */
.wifi-icon {
    transform: rotate(12deg);

}

.wifi {
    stroke: #000000;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    opacity: 0;
    animation: wifiUp 3s infinite ease-in-out;
}

.arc3 {
    animation-delay: 0.2s;
}

.arc2 {
    animation-delay: 0.5s;
}

.arc1 {
    animation-delay: 0.8s;
}

.dot {
    fill: #000000;
    opacity: 0;
    animation: dotUp 3s infinite ease-in-out;

}

@keyframes wifiUp {
    0% {
        stroke-dashoffset: 100;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    85% {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 100;
        opacity: 0;
    }
}

@keyframes dotUp {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}






.card-planos {
    background: rgb(255, 255, 255);
    width: 330px;
    height: 740px;

    padding-top: 50px;

    border-radius: 16px;
    border: 2px solid #343534;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    overflow: visible;
}

.card-complete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-complete-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.card-complete-titulo svg {

    margin-bottom: 50px;
    color: #000000;
}

.card-complete-titulo h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 78px;
    color: #000000;
}

.card-header {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-header-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.card-header-titulo .promo {

    position: absolute;
    border-radius: 20px;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.card-header h2 {
    color: #050F28;
    font-size: 1.6rem;
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 1.3;
}




.wifi-icon-cards {
    margin-right: 30px;
    padding-bottom: 30px;
    transform: rotate(12deg);
}

.informacoes-planos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 12px;
    margin-left: 15%;
    padding: 5px;
    width: 100%;
}

.informacoes-planos img {
    flex-shrink: 0;
}

.informacoes-planos span {
    text-align: left;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.card-assinatura {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.card-assinatura span {
    font-size: 3rem;
    color: #050F28;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.card-assinatura-imagem {
    background-color: #000879;
    border-radius: 12px;
}


.preco {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #0033cc;
    margin-top: 10px;
}

.so {
    font-size: 14px;
    margin-top: 6px;
}

.rs {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.valor {
    display: flex;
    align-items: flex-start;
}

.inteiro {
    font-size: 90px;
    font-weight: 800;
    line-height: 1;
}

.centavos {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 4px;
}

.cents {
    font-size: 22px;
    font-weight: 600;
}

.mes {
    font-size: 14px;
}



.btn {
    padding: 14px 28px;
    width: 70%;
    background: linear-gradient(180deg, #003BFF, #001F99);
    color: #FFFFFF;
    border: 2px solid rgba(2, 18, 102, 0.85);
    border-radius: 29px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(11, 70, 217, 0.22);
}

.open-modal {
    padding: 10px;
    background: transparent;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;

    border: none;
    outline: none;
}

/* EXPLICAÇÃO DE PLANOS MODELS*/

.modal-overlay {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 25, 50, 0.65);
    backdrop-filter: blur(6px);
    font-family: 'Poppins', sans-serif;
    z-index: 99999;
}

.modal-overlay.ativo {
    display: flex;
}

.modal {
    background: #ffffff;
    color: #000000;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    max-height: 500px;
    overflow-y: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 0.3s ease-in-out;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 200;
}

.modal-header h1 {
    color: #050F28;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 1.3;
}

.modal-header button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.modal-content {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 1.8;
    color: #444444;
}

.modal-content p {
    margin-bottom: 16px;
    font-weight: 400;
}

.modal-content strong {
    color: #050F28;
    font-weight: 600;
}

/* Modal ativo */
.modal-overlay.ativo {
    visibility: visible;
    opacity: 1;
}

/* Animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}






/*PLANOS DE INTERNET BÁSICA*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.planos-internet {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px;

}

.planos-internet.ativo {
    display: flex;
}

.planos-internet-header {
    text-align: center;
    margin-bottom: 30px;
}

.alternancia-de-planos {
    position: relative;
    width: 320px;
    margin: 30px auto;
    display: flex;
    background: linear-gradient(135deg, #1e3cff, #0b57ff);
    border-radius: 50px;
    padding: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.btn-alternancia-premium,
.btn-alternancia-internet {
    flex: 1;
    padding: 10px 0;
    border: none;
    background: transparent;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50px;
    z-index: 2;
    transition: color 0.3s ease;
}

/*Vai começar com o backgound verde, pois ele já é ativo, só ficará inativo quando ouver o clique*/
.btn-alternancia-premium {
    background-color: #7CFF00;
    color: #000000;
}

.btn-alternancia-premium.ativo {
    background-color: #7CFF00;
    color: #000000;
}

.btn-alternancia-internet.ativo {
    background-color: #7CFF00;
    color: #000000;
}

.btn-alternancia-premium.inativo {
    background: transparent;
    color: white;
}

.btn-alternancia-internet.inativo {
    background: transparent;
    color: white;
}

/*-----------------------------------------------------------------------------------------------*/



.card-internet {
    width: 100%;
    max-width: 320px;
    border: 2px solid #000;
    border-radius: 18px;
    overflow: hidden;
    background: #fff;
}



.card-conteiner-header {
    position: relative;
    width: 100%;
    height: 90px;
    background: linear-gradient(180deg, #2b19ff, #2301ff);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    
}

.card-conteiner-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
}

.card-conteiner-conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
}

.so-internet {
    margin-left: 30px;
    font-size: 14px;
    margin-top: 6px;
}

.btn-internet {
    padding: 14px 34px;
    width: 85%;
    background: linear-gradient(180deg, #0b57ff, #0033cc);
    color: #FFFFFF;
    border: 2px solid rgba(2, 18, 102, 0.85);
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 12px;
    margin-bottom: 6px;
    margin-left: 25px;
    transition: transform 0.18s ease, box-shadow 0.18s ease;
    box-shadow: 0 8px 18px rgba(11, 70, 217, 0.18), inset 0 -6px 18px rgba(255, 255, 255, 0.05);
}

.btn-internet:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(11, 70, 217, 0.22);
}

.open-modal {
    padding: 10px;
    background: transparent;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    margin-top: 8px;
    border: none;
    outline: none;
}

/* Responsividade simples */
@media (max-width: 420px) {
    .card-internet-total {
        width: 92%;
        padding: 0 12px 18px 12px
    }

    .card-conteiner-header {
        width: calc(100% + 24px);
        margin-left: -12px;
        height: 80px
    }

    .price-large {
        font-size: 54px
    }
}