@media (max-width: 900px) {
    .background-corporativo {
        width: 100%;
        background-image: url("../imgs/imagemResponsivaCorporativo.png");
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
        aspect-ratio: 1024 / 1536;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .marcas {
        width: 100%;
    }

    .marcas-header img {
        width: 95%;
        height: auto;
    }


    .marcas-conteiner {
     
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .marcas-conteudo {
        align-items: left;
        text-align: left;
        margin-left: 50px;
        width: 100%;
    }

    .marcas-conteudo p {

        padding: 0;
        width: 100%;
        min-width: 400px;
       
        max-width: 100%;
        box-sizing: border-box;
    }
    
    .marcas-imagens{
        margin: auto;
    }
    .titulo-form img {
        width: 95%;
        height: auto;
    }
}